PORT=
JWT_SECRET_ACCESS=
JWT_SECRET_REFRESH=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
SENDGRID_API_KEY=
CLOUDINARY_API_SECRET=
GOOGLE_APP_EMAIL=
MYSQL_URI=#127.0.0.1
DB_DATA_VOLUME=#/var/lib/mysql
FRONTEND_ORIGIN=#http://localhost:5173